/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  background-image: url(../img/sfondo.png);
  font-family: "Poppins", sans-serif;
}
/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 80%;
}
/* MAIN */
.first-div {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 136, 169);
  padding: 70px 70px;
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

.first-div h3 {
  padding: 20px;
}

.first-div i {
  color: white;
}

.first-div ul li {
  list-style-type: none;
  padding-top: 30px;
}
/* ELEMENTI NEL MAIN - ARTICLE */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.first-articles {
  background-color: white;
  padding: 50px auto;
  text-align: center;
}

.first-articles h1 {
  font-weight: 600;
}

/* .first-articles span {
  padding: 50px auto;
} */

.first-articles h1 {
  text-align: center;
}

.first-articles span {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: smaller;
  padding: 10px;
}

.articles {
  text-align: start;
  line-height: 1.3rem;
}

.first-articles ul li {
  text-align: start;
  padding-left: 35px;
  list-style-type: armenian;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
